{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as kurl %}
{% block title %}Shorty{% endblock %}

{% block body_content %}
    <section>
        <div class="container text-center">
            <div class="row">

                <!-- Flash messages -->
                <div class="col-lg-12 text-left">
                    {{ kurl.render_flashbags(app.session.flashbag.all) }}
                </div>

                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1>Details for short link <a href="{{ short_url }}">{{ short_url }}</a></h1>

                        <p>Long URL: <a href="{{ details.url }}">{{ details.url }}</a></p>
                        <p>Created: {{ details.created }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}