{% extends 'layout.html.twig' %}
{#{% import 'macros.html.twig' as kurl %}#}
{#{% block title %}Details for short link "{{ id }}"{% endblock %}#}
{#{% block flash_messages %}{% endblock %}#}

{#{% block body_content %}#}

    {#<div class="container">#}
        {#<div>#}
            {#{{ kurl.render_flashbags(app.session.flashbag.all) }}#}
        {#</div>#}

        {#<section>#}
            {#<div class="page-header">#}
                {#<h1>Details for short link <a href="{% verbatim %}{{ short_url }}{% endverbatim %}">{{ id }}</a></h1>#}
            {#</div>#}

            {#<table class="table table-striped" ng-controller="ShortyDetailsController">#}
                {#<tbody>#}
                    {#<tr>#}
                        {#<th>Short</th>#}
                        {#<td><a ng-href="{% verbatim %}{{ short_url }}{% endverbatim %}">{% verbatim %}{{ short_url }}{% endverbatim %}</a></td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<th>Long</th>#}
                        {#<td><a ng-href="{% verbatim %}{{ details.url }}{% endverbatim %}">{% verbatim %}{{ details.url }}{% endverbatim %}</a></td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<th>Created</th>#}
                        {#<td>{% verbatim %}{{ details.created|date: "yyyy/MM/dd HH:mm:ss" }}{% endverbatim %}</td>#}
                    {#</tr>#}
                {#</tbody>#}
            {#</table>#}

        {#</section>#}
    {#</div>#}
{#{% endblock %}#}