{% import 'macros.html.twig' as kurl %}
<!DOCTYPE html>
<html lang="en-gb" ng-app="shortyApp">
<head>
    <base href="/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    <title>{% block title %}Shorty - Yes, we need another URL shortener{% endblock %}</title>

    <link rel="shortcut icon" href="{{ app.request.basePath }}/favicon.ico" />
    <link rel="stylesheet" href="/css/shorty.css">
    <script src="/js/shorty.js"></script>

    {% block head %}{% endblock %}

</head>
<body{% block body_attributes %}{% endblock %}>

{% block nav_content %}{% include 'menu.html.twig' %}{% endblock %}

{% block flash_messages %}
    <div class="container">

        <div flash-alert active-class="in" class="alert fade" role="alert">
            <strong class="alert-heading">{% verbatim %}{{ flash.type }}{% endverbatim %}</strong>:
            <span class="alert-message">{% verbatim %}{{ flash.message }}{% endverbatim %}</span>
        </div>

        {#<div ng-show="flash" class="alert alert-{{ flash.severity }} alert-dismissible" role="alert">#}
            {#<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
            {#<strong>{{ flash.severity|capitalize }}:</strong>#}
            {#{{ flash.message }}#}
        {#</div>#}
        {# kurl.render_flashbags(app.session.flashbag.all) #}
    </div>
{% endblock %}

<div ng-view></div>

{% block body_content %}{% endblock %}

{% block footer_content %}
    <footer class="footer">
        <div class="container">
            {% include 'footer.html.twig' %}
        </div>
    </footer>
{% endblock %}

</body>
</html>

